body {
    background-color: rgb(60, 60, 60);
}

#letterArea {    
    background-color: white;
    width: 35vw;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
    padding: 1em;  
    font-size: 3.5vw;//70px;
    text-align: center;
    padding-top: 2em;
    
    /* such roundness */
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#answer {
    /* moar roundness! */
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;    
}

#successAnimation {
    clear: right;
    text-align: center; 
    color: green;
    font-size: 3.5vw;
    font-weight: 900;
    opacity: 0;
}

#areaholder {    
    text-align: center;    
}

#clock {
    position: absolute;
    right: 27vw;
}

#gameScreen { 
    position: relative;
}

#difficulty {
    float: right;
    text-align: center;
    padding-left: 2em;
}